In [ ]:
 # Q1- How do you comment code in Python? What are the different types of comments?

 """ In Python, comments are used to add explanatory notes within the code to make it more readable and understandable.
  Comments are ignored by the Python interpreter and have no effect on the execution of the program.
  To comment code in Python, you can use the "#" symbol. Anything after the "#" symbol on the same line will be treated as a comment.
  There are two types of comments in Python:
  1- SINGLE LINE COMMENT
  2- MULTILINE COMMENT """
  # This is a single-line comment in Python

  """
This is a multi-line comment in Python.
It can span multiple lines without the need for '#' on each line.
"""

In [ ]:
# Q2-  What are variables in Python? How do you declare and assign values to variables?

In Python, variables are used to store data values in memory.

variable_name = value
# Integer variable
age = 25

# Float variable
pi = 3.14159

# String variable
name = "John Doe"

# Boolean variable
is_student = True

# List variable
numbers = [1, 2, 3, 4, 5]

# Tuple variable
point = (10, 20)

# Dictionary variable
person = {"name": "Alice", "age": 30}

In [ ]:
#Q3-. How do you convert one data type to another in Python?

In Python, we can convert one data type to another using type conversion functions or methods.

int(): This function is used to convert a value to an integer data type.
python

float_number = 3.14
integer_number = int(float_number)
print(integer_number)  # Output: 3

float(): This function converts a value to a floating-point number.
python

integer_number = 5
float_number = float(integer_number)
print(float_number)  # Output: 5.0

str(): This function converts a value to a string data type.
python

age = 25
age_str = str(age)
print("Age: " + age_str)  # Output: Age: 25
list(), tuple(), set(): These functions are used to convert other iterable objects like strings, tuples, or sets to lists, tuples, or sets, respectively.
python

string_value = "hello"
list_value = list(string_value)
print(list_value)  # Output: ['h', 'e', 'l', 'l', 'o']

tuple_value = (1, 2, 3)
set_value = set(tuple_value)
print(set_value)  # Output: {1, 2, 3}
dict(): This function can be used to convert a sequence of key-value pairs (as tuples) into a dictionary.
python

key_value_pairs = [(1, 'one'), (2, 'two'), (3, 'three')]
dictionary = dict(key_value_pairs)
print(dictionary)  # Output: {1: 'one', 2: 'two', 3: 'thre

In [ ]:
#Q4-How do you write and execute a Python script from the command line?

To write and execute a Python script from the command line,
 we'll need a text editor to create the script and the Python interpreter installed on our system to run it.
 Here's a step-by-step guide:

1-Open a text editor
2-Write the Python script
3-Open the command line or terminal
4-Navigate to the script's directory
5-Execute the Python script

In [ ]:
#Q5-Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

my_list = [1,2,3,4,5]
sub_list =list(my_list[1:3])
print( "sub list"  , sub_list)

sub list [2, 3]

In [ ]:
#Q6-What is a complex number in mathematics, and how is it represented in Python?

Complex number is that number which have both of real and imaginary part.
 complex number can represent in python- a+bj- where a abd b is real nummber AND j is imaginary unit.

In [ ]:
#Q7-What is the correct way to declare a variable named age and assign the value 25 to it?

In Python, the correct way to declare a variable named age and assign the value 25 to it is by using the assignment operator =.
age = 25

In [ ]:
#Q8- Declare a variable named price and assign the value 9.99 to it.
 #  What data type does this variable belong to?

 In Python, when you declare a variable named price and assign the value 9.99 to it,
  the data type of this variable will be a floating-point number (float).

In [2]:
#Q9-Create a variable named name and assign your full name to it as a string. How would you print the
#  value of this variable?

name = "Susheel kumar"
print(name)

Susheel kumar

In [4]:
#Q10-Given the string "Hello, World!", extract the substring "World"

str = "Hello, World"
i = str[7:12]
print(i)

World

In [20]:
#Q11-Create a variable named "is_student" and assign it a boolean value indicating whether you are
 #  currently a student or not.

is_student = bool(input("enter data"))
if is_student == True:
  print("you are a student")
else:
  print("you are not a student")

enter dataTrue
you are a student